<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='css/custom.css')}}" rel="stylesheet" type="text/css" />
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
</head><body>

	<header>
		<nav>
		  <div class="container">
			<div class="row">
			  <div class="col">
				<div class="navbar-wrapper d-flex justify-content-between align-items-center">
				  <a class="logo" href="#"></a>
				  <div class="d-flex control-wrapper">
					<div class="catalog-button">

								<div class="header__dropdown">
									<button class="header__dropbtn">Каталог
									</button>
									<div class="header__dropdown-content">
										<a href="http://127.0.0.1:5000" class="header__link">Игровая приставка</a>
										<a href="http://127.0.0.1:5000/pc" class="header__link">Компютеры и ноутбуки</a>
										<a href="http://127.0.0.1:5000/soft" class="header__link">Софт</a>
									</div>
								</div>
								<!-- /.header__dropdown -->
					</div>
					<div class="search">
					  <div class="search-wrapper">
						<input class="search-wrapper_input" type="text" />
					  </div>
					  <div class="search-btn">
						<button></button>
					  </div>
					</div>
				  </div>
				  <a href="#" id="cart">
					<span class="counter">0</span>
					<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path fill="currentColor" fill-rule="nonzero"
						  d="M6 6a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2h5.133L21.82 18.496A4 4 0 0 1 17.85 22H6.149a4 4 0 0 1-3.969-3.504L.867 8H6V6zm6 2a1 1 0 0 1 0 2H3.133l1.03 8.248A2 2 0 0 0 6.149 20h11.704a2 2 0 0 0 1.984-1.752L20.867 10H16V6a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2h4z">
						</path>
					  </svg></span>
					<span class="desc">Корзина</span>
				  </a>
				</div>
			  </div>
			</div>
		  </div>
		</nav>
	  </header>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-9 col-xl-10">
					<div class="container">
						<div class="row no-gutters goods">
							<!-- КАРТОЧКИ ТОВАРОВ -->

							<div class="col-12 col-md-6 col-lg-4 col-xl-3">
								<div class="card">
									<div class="card-sale">🔥Hot Sale🔥</div>
									<div class="card-img-wrapper">
										<span class="card-img-top"
											style="background-image: url('https://s0.rbk.ru/v6_top_pics/resized/600xH/media/img/9/88/756558227492889.png')"></span>
									</div>
									<div class="card-body justify-content-between">
										<div class="card-price">149 000 ₽</div>
										<h5 class="card-title">Macbook pro</h5>
										<button class="btn btn-primary">В корзину</button>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-4 col-xl-3">
								<div class="card">
									<div class="card-img-wrapper">
										<span class="card-img-top"
											style="background-image: url('https://ae04.alicdn.com/kf/Ad063985a1d8e4429a2388a776e3438ec3/Robotcomp-160-NEW.jpg')"></span>
									</div>
									<div class="card-body justify-content-between">
										<div class="card-price">99 000 ₽</div>
										<h5 class="card-title">Игровой компьютер Robotcomp ТУ-160М NEW настольный компьютер</h5>
										<button class="btn btn-primary addToCart">В корзину</button>
									</div>
								</div>
							</div>
							<!-- END КАРТОЧКИ ТОВАРОВ -->
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="shadow"></div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-between mt-5 mb-5">
					<div class="footer__block">
						Адрес: Москва, Мясницкая ул., 13 стр.18
						<div class="map"><iframe
								src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60403.3928440649!2d37.54510335118098!3d55.762766489749204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x46b54b2902accb33%3A0x44333ce92c791c1e!2z0JzRj9GB0L3QuNGG0LrQsNGPINGD0LsuLCAxMyDRgdGC0YAuMTgsINCc0L7RgdC60LLQsCwgMTAxMDAw!3m2!1d55.7636882!2d37.6334022!5e0!3m2!1sru!2sru!4v1673866220515!5m2!1sru!2sru"
								width="100" height="100" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe></div>
					</div>
					<div class="footer__block">
						Горячая линия
						<a href="tel:+79105439432" class="footer__phone">8 910-543-94-32</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="cart">
		<div class="cart-body">
			<div class="cart-title">Корзина</div>
			<div class="cart-total">Общая сумма: <span>0</span> руб</div>

			<div class="cart-wrapper">
				<div id="cart-empty">
					Ваша корзина пока пуста
				</div>
			</div>
			<a href="a" class="btn btn-primary cart-confirm">Оформить заказ</a>
			<div class="cart-close">

			</div>
		</div>
	</div>
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>
</html>